:root {
	--header_background-color: rgba(255, 255, 255, 0.9);
	--header_background-blur: blur(25px);
	--color_accent: #f10132;
	--color_accent_hover: #d5012e;
	--back_elements_background: #ffebf0;
	--color_text: #000;
	--color_text_invert: #fff;
	--color_bg_white: #fff;

	--color_black: #000;
	--color_white: #fff;

	--font_base: var(--font_primary);
	--font_primary: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
	--font_secondary: 'Dance', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

	--shadow_red:   0 142px 80px rgba(241, 1, 50, 0.1),
					0 92.037px 46.8519px rgba(241, 1, 50, 0.0759259),
					0 54.6963px 25.4815px rgba(241, 1, 50, 0.0607407),
					0 28.4px 13px rgba(241, 1, 50, 0.05),
					0 11.5704px 6.51852px rgba(241, 1, 50, 0.0392593),
					0 2.62963px 3.14815px rgba(241, 1, 50, 0.0240741);

	--shadow_red_small: 0 100px 80px rgba(0, 0, 0, 0.012037),
						0 64.8148px 46.8519px rgba(241, 1, 50, 0.0196296),
						0 38.5185px 25.4815px rgba(241, 1, 50, 0.025),
						0 20px 13px rgba(241, 1, 50, 0.0303704),
						0 8.14815px 6.51852px rgba(0, 0, 0, 0.037963),
						0 1.85185px 3.14815px rgba(0, 0, 0, 0.05);

	--shadow_red_xs:    0 38.5185px 25.4815px rgba(241, 1, 50, 0.025),
						0 20px 13px rgba(241, 1, 50, 0.0303704),
						0 8.14815px 6.51852px rgba(0, 0, 0, 0.037963),
						0 1.85185px 3.14815px rgba(0, 0, 0, 0.05);

	--screen_margin-mobile: 8.3333vw;
	--screen_margin-tablet: 3.2552vw;
	--screen_margin-destop: 4.1667vw;

	--container_m: calc(100vw - var(--screen_margin-mobile));
	--container_t: calc(100% - 50px);
	--container_d: calc(100% - 80px);

	--body_bg: var(--color_bg_white);
	--body_color: var(--color_text);

	--font_size_root: null;
	--font_size_base: 1rem;
	--font_weight_base: 400;

	--line_height_base: 100%;
}
