// В этом файле должны быть стили для БЭМ-блока policy, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.policy {
	margin: 0 auto;
	max-width: 960px;
	padding: 65px 15px 80px;
	&__title {
		font-size: 25px;
		font-weight: 700;
		line-height: 1.2;
		margin: 0;
	}
	&__subtitle {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.25;
		margin: 35px 0 10px;
	}
	&__text {
		font-size: 15px;
		font-weight: 400;
		margin: 0;
		line-height: 1.5;
		& + & {
			margin-top: 10px;
		}
	}
	&__list {
		list-style: disc;
		margin: 10px 0 0;
		padding: 0 0 0 40px;
	}
	&__li {
		font-size: 15px;
		font-weight: 400;
		margin: 0;
		line-height: 1.5;
		& + & {
			margin-top: 10px;
		}
	}
}
