header.header
	.grid
		.header__inner
			.header__logotype
				svg.svg.header__logo
					use(xlink:href='img/svgSprite.svg#logo__kolibri')
			nav.header__nav
				a.header__nav-item(href='#about') О клубе
				a.header__nav-item(href='#trener') Тренер
				a.header__nav-item(href='#price') Цены
				a.header__nav-item(href='#reviews') Отзывы
				a.header__nav-item(href='#contacts') Контакты
			a.header__phone(href='tel:89616392985') +7 961 639 29 85
			a.button.header__button(data-hystmodal="#callback") Заказать звонок
			a.header__menu
				svg.svg.header__menu-icon
					use(xlink:href='img/svgSprite.svg#icon__menu')
