// В этом файле должны быть стили для БЭМ-блока button, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.button {
	background: var(--color_accent);
	border: none;
	box-shadow: var(--shadow_red);
	border-radius: 5px;
	color: var(--color_text_invert);
	cursor: pointer;
	font-size: 4.1666vw;
	font-weight: 500;
	letter-spacing: 0.02em;
	line-height: 1;
	padding: 4.1666vw;
	text-align: center;
	text-decoration: none;
	transition: background .25s ease;
	white-space: nowrap;
	@media screen and (min-width: 992px) {
		font-size: 1.0416vw;
		padding: 1.3020vw;
	}
	&:hover {
		background: var(--color_accent_hover);
	}

}
